.myDiv {
  height: 50%;
  max-width: 100%;
  background-color: powderblue;
}
#image{
 height: 100%;
 width: 100%;
}

.bottomleft {
  height: 40%;
  width: 20%;
  background-color: yellow;
}


body{
	background-color:purple;
}
h1{
padding-left:80px;
color:red;
background-color:yellow;
height:60px;
font-size:60px;

}
marquee{
color:red;
height:100%
}

h2{

color:red;
}
