body{
font-size:14px;
}
.logo{
width:60px;
height:60px;
}
.main{
height:100vh;
width:100vw;
display:flex;
flex-direction:column;
align-items:center;
}
.card{
background:#F6F8FA;
border:1px solid #E2E6Eb;
display:flex;
flex-direction:column;
padding: 15px 45px;
			margin-top: 20px;
}

.input-box{
display:flex;
flex-direction:column;
margin-bottom:20px;
}
.password-row{
display:flex;
width:100%;
justify-content:space-between;
}

#F8F9FA 
label{div class="password-row">
margin-bottom:10px;
}

input{
padding: 6px 6px;
border-radius:8px;
border:1px solid #E2E6EB;
}
.submit{
width: 100%;
background: #2C974B;
padding: 10px 10px;
color: #FFFFFF;
}
h1{
font-size:24px
margin: 20px 10px;
}
a{
text-decoration: none;
			color: #1769DA;
}
a:active {
color: #1769DA;
}

		.box {
			border: 1px solid #E2E6EB;
	                  		border-radius: 5px;
			padding: 15px 45px;
			margin-top: 20px;
		}

		.contact-row {
			margin-top: 80px;
			display: flex;
			justify-content: center;
		}

		.contact-row a {
			font-size: 14px;
			margin: 0 10px;
		}

		.contact-row span {
			font-size: 14px;
			margin: 0 10px;
			color: #6f6f6f;
		}
